<template>
  <section class="container-table app-manage">
    <h4 class="titleH4">
      <p>{{$route.meta.parentName}} / <span>{{$route.meta.menuName}}</span></p>
    </h4>
    <!-- 搜索 -->
    <div class="searchContent">
      <el-form :model="searchModel" label-width="100px" :inline="true"  class="demo-ruleForm" ref="searchModel">
      <% searchModel.forEach(function(item){
        switch(item.type){  
          case 'datetimerange': %>
        <el-form-item>
          <el-date-picker style="width:400px;" :default-time="['00:00:00','23:59:59']" v-model="searchModel.searchDate" value-format="yyyy-MM-dd HH:mm:ss" type="datetimerange" range-separator="至" start-placeholder="开始日期" end-placeholder="结束日期">
          </el-date-picker>
        </el-form-item>
            <% break;
          default: %>
        <el-form-item label="<%= item.name %>:" class="search-item">
          <el-input v-model="searchModel.<%= item.key %>" placeholder='<%= item.placeholder %>'></el-input>
        </el-form-item>
             <% break;
        }
      }); %>
        <el-form-item class="search-item" >
          <el-button type="primary"  @click="getDataList()">搜索</el-button>
          <el-button @click="clearForm(searchModel)">重置</el-button>
        </el-form-item>
      </el-form>
    </div>
    <!--表格 内容显示-->
    <div class="bgpad" style="margin-top: 20px;padding: 20px;">
      <el-table :data="dataList" highlight-current-row style="width:100%;margin: 10px auto;" ref="multipleTable">
        <% dataList.forEach(function(item){ %>
          <% switch(item.type){  
            case 'index': %>
        <el-table-column type="<%= item.type %>" label="<%= item.name %>" min-width="<%= item.minWidth %>" :index="indexMethod">
        </el-table-column>
              <% break; %>
            <% default: %>
        <el-table-column prop="<%= item.prop %>" label="<%= item.name %>" min-width="<%= item.minWidth %>">
        </el-table-column>
              <% break; %>
          <% } %>
        <% }); %>
      </el-table>
      <!--分页工具条-->
      <div>
        <list-pagination @currentPageChange="pageChange" :currentTotal="total"></list-pagination>
      </div>
    </div>
    <p class="imprint">{{$t('detailHome.imprint')}}</p>  
  </section>
</template>
<script>
import listPagination from "@/components/viewPageModule/listPagination";//分页
export default {
  components: {listPagination},
  data () {
    return {
      //查询条件
      searchModel:{},
      //列表数据
      dataList: [],
      pageSizeIndex: 20,
      currentPageIndex: 1,
      total: 0,
    }
  },
  methods: {
    /**
     * 序号
     */
    indexMethod(index){
      let _this = this
      return _this.pageSizeIndex*(_this.currentPageIndex-1)+index+1
    },
    pageChange(pageNum,pageSize) { //分页时间
      this.pageNum = pageNum;
      this.pageSize = pageSize;
      this.getDetailData(0);
    },
    /**
     * 分页查询车辆信息
     */
    getDataList(pageNum, pageSize) {
      let _this = this;
      //有数值时 为分页组件穿来的数值 无数值时使用第一次加载的数值
      if (pageNum && pageSize) {
        this.pageNum = pageNum;
        this.pageSize = pageSize;
      }
    },
    //清空表单
    clearForm(formName) {
      for (var key in formName) {
        if(key == 'searchDate') {
          formName.searchDate = [];
        }else{
          formName[key] = "";
        }
      }
      this.getDataList(0);
    },
  }
}
</script>